.addPerson{
margin-left: 650px;
}

.block{
    background-color: tomato;
    min-height: 100%;
    width: 100%;
}

.content img{
    height: 40px;
    width: 40px;
}

.content input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: 3px solid #084C61;
    width: 305px;
    margin-left: 220px;
}

.content span{
    color:black;
    font-weight: bold;
    font-size: 21;
}

.content .r1{
    margin-top: 50px;
    margin-left: 70px;
}

.content button{
    background-color:none;
    border: none;
}

table{
    margin-top: 15px;
    margin-left: 100px;
    border: 1px solid   #084C61;
    color:  #084C61;
    width: 950px;
    max-height: 100%;
}

.content td button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}

 th{
    color: white;
    background-color: #084C61;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
}

.modal{
    color:  #084C61;
    font-family: Century Gothic;
  
}

.modal .modal-title{
    font-size: 28px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid  #084C61 ;
}

.modal-footer button{
   border-radius: 10px;
}

