body{
    font-family: Century Gothic;
}

.img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 80px;
}

.top img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.top .nav-link{
    padding-bottom: 25px;
}

.top span{
    text-align: center;
    color: white;
    font-size: 24px;
    font-style: italic;
}

.logo{
    margin-right: 805px;;
    margin-top: 20px;
}

.nav-link{
    font-size: 16px;
    color: white;
}

.dash .nav-link:hover{
    color: white;
    border-right:8px solid #7ab7ca;
}

.dash .nav-item .nav-link{
    margin-left:7px;
}
.dash{
    width: 260px;
    min-height: 100%;
}

.nav{
     background-color:#084C61;
}
li img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    
}

li{
    padding-top: 25px;
}

.dash span{
    text-align: center;
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}
