<template>
<div>
        <v-app-bar color="teal" height="70">
            <v-app-bar-nav-icon color="white"></v-app-bar-nav-icon>
                <div class="d-flex ml-auto" >
                    <v-btn text color="white">
                        <v-icon class="mr-1">logout</v-icon>
                        Logout
                    </v-btn>
                </div>   
        </v-app-bar> 
</div> 
</template>

<script>
export default {
    name: "AppBar"
}
</script>