<template>
<div>

    <div class="modal fade" id="bookModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalTarget == 'addModal'">Add Book</h5>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalTarget == 'returnModal'">Return Book</h5>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalTarget == 'borrowModal'">Borrow Book</h5>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalTarget == 'updateModal'">Update Book</h5>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalTarget == 'deleteModal'">Delete Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form action="" v-if="modalTarget == 'addModal'">

            <div><label for="">Name</label>
                <input type="text" v-model="books.name">
            </div>
            <div><label for="">Author</label>
                <input type="text" v-model="books.author">
            </div>
            <div><label for="">Copies</label>
                <input type="text" v-model="books.copies">
            </div>
            <div><label for="">Category</label>
                <select v-model="books.category_id">
                    <option v-for="category in categories" :value="category.id" :key="category.id">
                        {{category.category}}
                    </option>
                </select>
            </div> 
            
        </form>

         <form action="" v-if="modalTarget == 'returnModal'">

            <div><label for="">Patrons ID</label>
                <input type="text" v-model="books.ward">
            </div>
            <div><label for="">Copies</label>
                <input type="number" v-model="books.copies">
            </div>
            <div><label for="">Books ID</label>
                <input type="text" v-model="books.name">
            </div>

        </form>

         <form action="" v-if="modalTarget == 'borrowModal'">

            <div><label for="">Patrons ID</label>
                <input type="text" v-model="books.ward">
            </div>
            <div><label for="">Copies</label>
                <input type="number" v-model="books.copies">
            </div>
            <div><label for="">Books ID</label>
                <input type="text" v-model="books.name">
            </div>

        </form>

         <form action="" v-if="modalTarget == 'updateModal'">

            <div><label for="">Name</label>
                <input type="text" v-model="modalsData.name">
            </div>
            <div><label for="">Author</label>
                <input type="text" v-model="modalsData.author">
            </div>
            <div><label for="">Copies</label>
                <input type="text" v-model="modalsData.copies">
            </div>
            <div><label for="">Category</label>
                <select v-model="modalsData.category_id">
                    <option v-for="category in categories" :value="category.id" :key="category.id">
                        {{category.category}}
                    </option>
                </select>
            </div>

        </form>

        <form action="" v-if="modalTarget == 'deleteModal'">
             <h5>Would you like to Delete?</h5>
        </form>

    </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke" data-dismiss="modal" v-if="modalTarget == 'addModal'" @click="addData">Add Book</button>
         <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke" data-dismiss="modal" v-if="modalTarget == 'returnModal'" @click="returnData">Return Book</button>
         <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke" data-dismiss="modal" v-if="modalTarget == 'borrowModal'" @click="borrowData">Borrow Book</button>
         <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke" data-dismiss="modal" v-if="modalTarget == 'updateModal'" @click="updateData">Update Book</button>
         <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke" data-dismiss="modal" v-if="modalTarget == 'deleteModal'" @click="deleteData">Delete Book</button>
    </div>
    </div>
    </div>
    </div>
</div>
</template>

<script>


export default {
    name:'addbookModal',
    data(){
        return{
            
            books:{
                name: null,
                author: null,
                copies:null,
                category_id: null
            }

        }
    },
    mounted(){
        this.categoriesData()
    },
    computed:{

        modalTarget()
        {
            return this.$store.getters['modal/modalTarget']
        },

        modalsData()
        {
             return this.$store.getters['modal/data']
        },

        categories()
        {
            return this.$store.getters['books/categories']
        }

    },
    methods:{

        categoriesData()
        {
            this.$store.dispatch('books/getCategoriesData')
        },
      
        addData()
        {
            this.$store.dispatch('books/addBooksData' , this.books)
        },

        updateData()
        {
            this.$store.dispatch('books/updateBooksData', this.modalsData)
        },

        deleteData()
        {
            this.$store.dispatch('books/deleteBooksData', this.modalsData)
        }
    }

}
</script>


<style scoped>

span{
text-align: center;
margin-left:auto;
color: black;
font-size: 21px;
margin-top: 10px;
}

.adjust img{
    height: 40px;
    width: 40px;
}
.adjust{
    margin-top:50px;
    margin-left: 190px;
}

.adjj input[type="text"]{
     padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: 3px solid #084C61;
    width: 305px;
    margin-left: 270px;
}

.modal{
    color:  #084C61;
    font-family: Century Gothic;
    margin-top: 100px;
}

.modal .modal-title{
    font-size: 28px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;
}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid  #084C61 ;
}

.modal-footer button{
   border-radius: 10px;
}
</style>
