<script>
import { Line } from 'vue-chartjs'

export default {
  extends: Line,
  mounted () {
    this.renderChart(this.chartdata)
  },
  data(){
    return{
      chartData:[20,10]
    }
  }
}
</script>

<style>
</style>