<template>
    <div>
    <Header />
    <Sidenav />

    <div class="row chart">
        <div class="col-4 adj">
            <barChart  height="317px" width="325px"/>
        </div>

        <div class="col-4 mr-auto">
            <pieChart  height="310px" width="300px"/>
        </div>
          
    </div>
  
   
    </div>
</template>

<script>

import barChart from '../assets/js/bar-chart'
import pieChart from '../assets/js/pie-chart'
import Header from '../components/header'
import Sidenav from '../components/sidenav'
export default {
    name: 'dashboard',
    components:{
        Header,
        Sidenav,
        barChart,
        pieChart
    }
}

</script>

<style scoped>
.chart{
    margin-top:85px;
}

.adj{
    margin-left:325px;
}
</style>