<template>
    <div>
        <v-app>
        <div class="d-flex">
            <SideNav/>
            <v-row>
                <v-col>
                    <AppBar/>
                    <v-container>
                        <v-row class="mt-12 ml-12 mx-auto">
                            <v-col cols="6" class="ww">
                                <BarChart height="180px" width="250px"/>
                            </v-col>

                            <v-col cols="6">
                                <PieChart height="180px" width="250px"/>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </div>
        </v-app>
    </div>
</template>

<script>
import SideNav from '../components/SideNav.vue'
import AppBar from '../components/AppBar.vue'
import PieChart from '../components/PieChart.vue'
import BarChart from '../components/BarChart.vue'

export default {
    name:'Dashboard',
    components:{
        SideNav,
        AppBar,
        PieChart,
        BarChart
    }
}
</script>

<style scoped>
.ww{
    width: 200px;
    height: 120px;
}
</style>