<template>
<div>

<nav class="nav justify-content-end sticky-top">
  <div class="logo">
        <img src="../assets/img/glass.png" alt="">
        <span>Library System</span>
  </div>
  <a class="nav-link mt-3" href="">Logout</a>
</nav>

</div>
</template>

<script>

export default {
    name:'Header',
}
</script>

<style scoped>

.nav{
  background-color:#084C61;
  
}

.nav-link{
  color:white;
  padding: 15px;
}


.logo{
    margin-right: 800px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
}

.logo img{
  width: 45px;
  height: 45px;
  
}

.logo span{
  margin-left: 5px;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

</style>