<template>
    <div>
        <v-app>
          <div class="d-flex">
            <SideNav/>
                <v-row>
                  <v-col cols="12">
                  <AppBar/>
                  <Modal :dialogs="dialogs" :changeDialogContent="changeDialogContent" @close="dialogs = false" :locationData="locationData"/>
                  <v-container >

                    <v-row> 
                     <v-col><h2 class="teal--text ml-2 mt-12">Locations</h2></v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                             <v-btn rounded color="teal" @click.stop="dialogs=true" @click="modalDialog('add')" class="white--text ml-5"><v-icon class="mr-2">add</v-icon>Location</v-btn>
                        </v-col>
                    </v-row>

                    <v-row justify="center" class="mt-12">
                        <v-col>
                           <v-simple-table class="ml-5 mr-5">
                                <thead>
                                    <tr>
                                        <th class="teal--text text-center">Location</th>
                                        <th class="teal--text text-center">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="text-center" v-for="locations in getData" :key="locations.id">
                                        <td>{{locations.location}}</td>
                                            <td>
                                                <v-btn icon large color="teal" @click.stop="dialogs=true" @click="modalDialog('update', locations)"><v-icon>update</v-icon></v-btn>
                                                <v-btn icon large color="error" @click.stop="dialogs=true" @click="modalDialog('delete', locations)"><v-icon>delete_outline</v-icon></v-btn>
                                            </td>       
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-row>
                  </v-container>
                  </v-col>
                </v-row>             
          </div>
        </v-app>
    </div>
</template>

<script>
import SideNav from '../components/SideNav.vue'
import AppBar from '../components/AppBar.vue'
import Modal from './LocationsModal.vue'

export default {
    name:'Locations',
    components:{
        SideNav,
        AppBar,
        Modal,
    },
    mounted(){
        this.getData
    },
    computed:{
        getData(){
          return this.$store.getters['locations/data'] 
        }
    },
    data(){
        return{
            dialogs:false,
            changeDialogContent: null,
            locationData:null
        }
    },
    methods:{

        get(){
        this.$store.dispatch('locations/getLocation')
        },

        modalDialog(selectedDialog,data){

            if(selectedDialog == "add")
            {
                this.changeDialogContent = "add"
            }
            if(selectedDialog == "update")
            {
                this.changeDialogContent = "update"
                this.locationData = data
            }

            if(selectedDialog == "delete")
            {
                this.changeDialogContent = 'delete'
                this.locationData = data
            }

        }
    }
}
</script>