<template>
    <div>
         <v-dialog
      v-model="dialogs"
      persistent
      max-width="320"
    >
      <v-card> 
        <v-card-title class="teal--text text-h6">
          Location
        </v-card-title>

        <v-card-text>
          <div v-if="changeDialogContent == 'add'" class="mt-6"><v-text-field dense label="Location" color="teal" v-model="addLocation.location"></v-text-field></div>
          <div v-if="changeDialogContent == 'update'" class="mt-6"><v-text-field dense label="Location" color="teal" v-model="locationData.location"></v-text-field></div>
          <div v-if="changeDialogContent == 'delete'" class="mt-6"><h4 class="error--text">Are you sure to Delete?</h4></div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            plain
            text
            @click="back"
          >
            Cancel
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'add'"
            color="teal"
            class="white--text"
            text
            @click="add"
            
          >
            Add
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'update'"
            color="teal"
            class="white--text"
            text
            @click="update"
          >
            Update
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'delete'"
            color="error"
            class="white--text"
            text
            @click="deletes"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>


<script>
export default {
    name: 'Modal',
    props:['dialogs','changeDialogContent','locationData'],
    data(){
        return{
          addLocation:{
            location: ""
          },
          upLocation: null
        }
    },  
    methods:{

      add(){
        this.$store.dispatch('locations/postLocation', this.addLocation)
        this.back()
      },

      update(){
        this.upLocation = this.locationData
        this.$store.dispatch('locations/putLocation', this.upLocation)
        this.back()
      },

      deletes(){
        this.$store.dispatch('locations/deleteLocation', this.locationData.id)
        this.back()
      },

      back(){
       this.$emit('close')
     }

    }
}
</script>