<template>
    <div>
      <v-app>
          <v-card
          elevation="4" 
          class="ma-auto"
          width="375"

         >
          <v-form class="mx-10">
              <h1 class="teal--text pt-8 pb-14 text-center">Clean Up</h1>

              <h4 class="text-center pb-7">Login to :</h4>

                <div>
                <v-text-field
                label="Username"
                clearable
                outlined
                dense
                color="teal"
                >
                </v-text-field>
                </div>

                <div>
                <v-text-field
                label="Password"
                clearable
                outlined
                dense
                color="teal"
                >
                </v-text-field>
                </div>
                
                <div class="text-center pt-2">
                <v-btn
                width="100%"
                link
                color="teal"
                >
               <h4 class="white--text">Login</h4>
                </v-btn>
                </div>
              
              <div class="text-center pt-4 pb-8">
              <v-btn
              width="100%"
              text
              color="error">
                <h4>Back</h4> 
              </v-btn>
              </div>
          </v-form>
        </v-card>
      </v-app>
    </div>
</template>


<script>
export default {
    name: 'Login',
    
}
</script>

<style scoped>
.color{
    color:blue;
}

</style>