<template>
    <div>
    <Header/>
    <Sidenav/>
    <PatronModal @refreshPatrons ='getPatrons'/>

    <div class="container">
        <div class="row adjust">
            <div class="col-5 adj" >
              <button type="button" class="btn" data-toggle="modal" data-target="#patronModal" @click="targetModal('addModal')">
              <img src="../assets/img/add.png" alt=""><span class="font-weight-bold ml-2 ">Add Patron</span>
              </button>
            </div>

            <div class="col-7 ml-auto adjj"><input type="text"></div>
        </div>

    <table class="">

        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Data Registered</th>
            <th>Actions</th>
        </tr>

        <tr :key="patrons.id" v-for="patrons in patronsData" >
            <td>{{patrons.first_name + " " + patrons.middle_name + " " + patrons.last_name }}</td>
            <td>{{patrons.email}}</td>
            <td>{{patrons.created_at}}</td>
            <td>
                <button type="button" class="btn" data-toggle="modal" data-target="#patronModal" @click="targetModal('updateModal' , patrons)">
                <img src="../assets/img/edit.png" alt="">
                </button>

                <button type="button" class="btn ml-1" data-toggle="modal" data-target="#patronModal" @click="targetModal('deleteModal' , patrons)">
                <img src="../assets/img/delete.png" alt="">
                </button>
            </td>
        </tr>
            
    </table>

           
    </div>
    </div>

</template>


<script>

import Header from '../components/header'
import Sidenav from '../components/sidenav'
import PatronModal from '../components/patronModal'

export default {
    name:'patron',
    components: {

        Header,
        Sidenav,
        PatronModal

    },
    computed:{

        patronsData()
        {
            return this.$store.getters['patrons/data']
        }

    },
    mounted(){

        this.getPatrons()

    },
    methods:{

        getPatrons()
        {
            this.$store.dispatch('patrons/getPatronsData')
        },

        targetModal(modalTarget,data)
        {
            this.$store.dispatch('modal/modalActions', {modalTarget:modalTarget, data:data})
        }

    }
    
}
</script>


<style scoped>

span{
    text-align: center;
    margin-left:auto;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.adjust img{
    height: 35px;
    width: 35px;
}
.adjust{
    margin-top:50px;
    margin-left: 190px;
}
 .adjj input[type="text"]{
     padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: 3px solid #084C61;
    width: 305px;
    margin-left: 270px;
}

table{
    margin-top: 20px;
    margin-left: 220px;
    border: 1px solid   #084C61;
    color:  #084C61;
    width: 950px;
    max-height: 100%;
}

th{
    color: white;
    background-color: #084C61;
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

 td{
    padding: 20px;
    text-align: center;
}

table tr td img{
    height: 35px;
    width: 35px;
}

.modal{
    color:  #084C61;
    font-family: Century Gothic;
    margin-top: 100px;
}

.modal .modal-title{
    font-size: 28px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;
}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid  #084C61 ;
}

.modal-footer button{
    border-radius: 10px;
}

</style>