<template>

<div>  
<div class="modal fade" id="patronModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel" v-if="modalsTarget == 'addModal'">Add Patron</h6>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalsTarget == 'updateModal'">Update Patron</h5>
        <h5 class="modal-title" id="exampleModalLabel" v-if="modalsTarget == 'deleteModal'">Delete Patron</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clearData">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           
            <form action="" v-if="modalsTarget == 'addModal'">
              
              <div><label for="">First Name</label>
              <input type="text" v-model="patron.first_name"> 
              </div>
              <div><label for="">Middle Name</label>
              <input type="text" class="ml-auto" v-model="patron.middle_name">
              </div>
              <div><label for="">Last Name</label>
              <input type="text" v-model="patron.last_name" >
              </div>
              <div><label for="">Email Address</label>
              <input type="text" class="ml-auto" v-model="patron.email" >
              </div>  
              
            </form>

            <form action=""  v-if="modalsTarget == 'updateModal'">

              <div><label for="">First Name</label>
              <input type="text" v-model="modalsData.first_name"> 
              </div>
              <div><label for="">Middle Name</label>
              <input type="text" class="ml-auto" v-model="modalsData.middle_name">
              </div>
              <div><label for="">Last Name</label>
              <input type="text" v-model="modalsData.last_name" >
              </div>
              <div><label for="">Email Address</label>
              <input type="text" class="ml-auto" v-model="modalsData.email" >
              </div>  

            </form>

            <form action=""  v-if="modalsTarget == 'deleteModal'">
              <h5>Would you like Delete?</h5>
            </form>

         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="clearData">Close</button>
        <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke"  data-dismiss="modal" @click="addData" v-if="modalsTarget == 'addModal'">Add Patron</button>
        <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke"  data-dismiss="modal" @click="updateData" v-if="modalsTarget == 'updateModal'">Update Patron</button>
        <button type="button" class="btn" style=" background-color:#084C61; color:whitesmoke"  data-dismiss="modal" @click="deleteData" v-if="modalsTarget == 'deleteModal'">Delete Patron</button>
         
      </div>
    </div>
  </div>
</div>
</div>
    
</template>

<script>

import toastr from '../toastr/toastr'

export default {
    name:'addModal',
    data(){
        return{

          patron:{
            first_name:'',
            middle_name: '',
            last_name:'',
            email:''
          }

        }
    },
    computed:{

        modalsTarget()
        {
          return this.$store.getters['modal/modalTarget']
        },

        modalsData()
        {
          return this.$store.getters['modal/data']
        },

    },
    methods:{
      
        addData()
        {
          this.$store.dispatch('patrons/addPatronsData' , this.patron)
          this.$emit('refreshPatrons')
          toastr.success('Successfully Added')
          this.clearData()
        },

        updateData()
        {
          this.$store.dispatch('patrons/updatePatronsData' , this.modalsData)
          this.$emit('refreshPatrons')
          toastr.success('Successfully Updated')
          this.clearData()
        },

        deleteData()
        {
          this.$store.dispatch('patrons/deletePatronsData' , this.modalsData)
          this.$emit('refreshPatrons')
          toastr.error('Successfully Deleted')
        },

        clearData(){
          this.$emit('refreshPatrons')
          this.patron.first_name = "",
          this.patron.middle_name = "",
          this.patron.last_name = "",
          this.patron.email = ""
        }

    }
}
</script>

<style scoped>
span{
text-align: center;
margin-left:auto;
color: black;
font-size: 21px;
margin-top: 10px;
}

.adjust img{
    height: 40px;
    width: 40px;
}
.adjust{
    margin-top:50px;
    margin-left: 190px;
}
 .adjj input[type="text"]{
     padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: 3px solid #084C61;
    width: 305px;
    margin-left: 270px;
}


.modal{
    color:  #084C61;
    font-family: Century Gothic;
    margin-top: 100px;
  
}

.modal .modal-title{
    font-size: 28px;
    font-weight: bold;

}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid  #084C61 ;
}

.modal-footer button{
   border-radius: 10px;
}
</style>

