<template>
  <div id="app">
      <v-container>
          <v-row>
              <v-col cols="6"> <PieChart :data="chartData" :options="chartOptions"/></v-col>
               <v-col cols="6" > <PieChart :data="chartData" :options="chartOptions"/></v-col>
          </v-row>
      </v-container>
   
    <div>ddwdw</div>
  </div>
</template>

<script>
import PieChart from "../assets/js/pieChart.vue";
export default {
  name: "App",
  components: {
    PieChart
  },
  data() {
    return {
        www : [{x: 'Jan', net: 100, cogs: 50, gm: 50}, {x: 'Feb', net: 120, cogs: 55, gm: 75}],
      chartOptions: {
        hoverBorderWidth: 5
      },
      chartData: {
        hoverBackgroundColor: "red",
        hoverBorderWidth: 10,
        labels: ["Green", "Red", "Blue"],
        datasets: [
          {  
            label: "Data One",
            backgroundColor: ["#FFFFF", "#E46651", "#00D8FF"],
            data: [24,4,5]
          },
          {  
            label: "Data One",
            backgroundColor: ["#FFFFF", "#E46651", "#00D8FF"],
            data: [22,4,5]
          }
        ]
      }
    };
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
