<template>
    <div>
         <v-dialog
      v-model="dialogs"
      persistent
      max-width="360"
    >
      <v-card> 
        <v-card-title class="teal--text text-h6">
          Schedule
        </v-card-title>

        <v-card-text>
          <div v-if="changeDialogContent == 'add'" class="mt-6">
              <v-select 
              v-model="vals"
              items="12"
              item-text="name"
              item-value= "country"
              label="Worker"
              ></v-select>


             <v-select 
              v-model="vals"
              items="12"
              item-text="name"
              item-value= "country"
              label="Location"
              ></v-select>
            
            <v-row>
                <v-col>
                    <v-select 
                    v-model="s"
                    :items="time.hour"
                    item-text="time.hour"
                    item-value= "time.hour"
                    label="Hours"
                    ></v-select>
                </v-col>

                <v-col>
                    <v-text-field label="Minutes"></v-text-field>
                </v-col>

                <v-col>
                    <v-select 
                    :items="time.day"
                    item-text="time.day"  
                    item-value="time.day" 
                    label="AM/PM">
                    </v-select>
                </v-col>
            </v-row>
            
            <div class="text-center mt-1 mb-1"><h3>To</h3></div>
            <v-row>
                 <v-col>
                    <v-select 
                    v-model="s"
                    :items="time.hour"
                    item-text="time.hour"
                    item-value= "time.hour"
                    label="Hours"
                    ></v-select>
                </v-col>

                <v-col>
                    <v-text-field label="Minutes"></v-text-field>
                </v-col>

                <v-col>
                    <v-select 
                    :items="time.day"
                    item-text="time.day"  
                    item-value="time.day" 
                    label="AM/PM">
                    </v-select>
                </v-col>
            </v-row>
          </div>
          <div v-if="changeDialogContent == 'update'" class="mt-6">
            
                          <v-select 
              v-model="vals"
              items="12"
              item-text="name"
              item-value= "country"
              label="Worker"
              ></v-select>


             <v-select 
              v-model="vals"
              items="12"
              item-text="name"
              item-value= "country"
              label="Location"
              ></v-select>
            
            <v-row>
                <v-col>
                    <v-select 
                    v-model="s"
                    :items="time.hour"
                    item-text="time.hour"
                    item-value= "time.hour"
                    label="Hours"
                    ></v-select>
                </v-col>

                <v-col>
                    <v-text-field label="Minutes"></v-text-field>
                </v-col>

                <v-col>
                    <v-select 
                    :items="time.day"
                    item-text="time.day"  
                    item-value="time.day" 
                    label="AM/PM">
                    </v-select>
                </v-col>
            </v-row>
            
            <div class="text-center mt-1 mb-1"><h3>To</h3></div>
            <v-row>
                 <v-col>
                    <v-select 
                    v-model="s"
                    :items="time.hour"
                    item-text="time.hour"
                    item-value= "time.hour"
                    label="Hours"
                    ></v-select>
                </v-col>

                <v-col>
                    <v-text-field label="Minutes"></v-text-field>
                </v-col>

                <v-col>
                    <v-select 
                    :items="time.day"
                    item-text="time.day"  
                    item-value="time.day" 
                    label="AM/PM">
                    </v-select>
                </v-col>
            </v-row>
          </div>

          <div v-if="changeDialogContent == 'delete'" class="mt-6"><h4 class="error--text">Are you sure to Delete?</h4></div>
          
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            plain
            text
            @click="log"
          >
            Cancel
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'add'"
            color="teal"
            class="white--text"
            text
            @click="log"
          >
            Add
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'update'"
            color="teal"
            class="white--text"
            text
            @click="log"
          >
            Update
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'delete'"
            color="error"
            class="white--text"
            text
            @click="log"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'ScheduleModal',
    props:['dialogs','changeDialogContent'],
    data(){
        return{
            vals: '',
            items: [
          { name: 'Florida', country: 'FL'},
          { name: 'Georgia', country: 'GA' },
          { name: 'Nebraska', country: 'NE' },
          { name: 'California', country: 'CA' },
          { name: 'New York', country: 'NY' },
        ],
        time:{
            hour:[1,2,3,4,5,6,7,8,9,10,11,12],
            day:['AM','PM']

        },

        momen: {
            texts: "2021-08-21 11:28:39"
        }
        }
    },
    computed:{
        hours(){
            return moment(this.momen.texts).format("  MMMM DD, YYYY  h:ss a");
        }
    },
    methods:{
        log(){
            this.$emit('close')
        },
    }
}
</script>