<template> 
<div>
    <Header/>
    <Sidenav />
</div>
</template>

<script>
import Header from '../components/header'
import Sidenav from '../components/sidenav'

export default {
name:'settings',
components:{
    Header,
    Sidenav
}    
}
</script>
