<template>
  <div>
    <ul class="nav flex-column dash fixed-top">
      <img src="../assets/img/person.png" alt="" />
      <span>Admin</span>

      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/dashboard.png" alt="" />
          </div>
          <div class="col mt-2">
            <router-link to="/Dashboard">Dashboard</router-link>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/patron.png" alt="" />
          </div>
          <div class="col mt-2">
            <router-link to="/Patron-Management">Patron Management</router-link>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/book.png" alt="" />
          </div>
          <div class="col mt-2">
            <router-link to="/Book-Management">Book Management</router-link>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/setting.png" alt="" />
          </div>
          <div class="col mt-2">
            <router-link to="/Settings">Settings</router-link>
          </div>
        </div>
      </li>
    </ul>
    <router-view />
  </div>
</template>


<script>
export default {
  name: "sidenav",
  data() {
    return {};
  },
};
</script>



<style scoped>
.nav {
  width: 260px;
  min-height: 100%;
  background-color: #084c61;
}

li img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}

img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-left: 80px;
}

span {
  text-align: center;
  color: white;
  font-size: 18px;
  padding-bottom: 25px;
}

a {
  font-size: 16px;
  color: white;
  margin-top: 15px;
  margin-left: 22px;
}

.dash a:hover {
  color: white;
  text-decoration: none;
}

.nav-item {
  margin-top: 30px;
}
</style>