<template>
<div>
        <v-app>
            <v-navigation-drawer permanent> 
                    <div class="d-flex ml-3 mt-5 mb-3"> 
                        <v-icon large class="teal--text">roofing</v-icon>
                        <h2 class="teal--text ml-3">Clean Up</h2> 
                    </div>
                    
                <v-divider></v-divider>

                <v-list nav class="mt-4" >
                    <v-list-item-group color="teal" mandatory>
                        <v-list-item to="/Dashboard" class="mb-4">
                            <v-list-item-icon>
                                <v-icon>dashboard</v-icon>
                            </v-list-item-icon>

                            <v-list-item-title>
                                Dashboard
                            </v-list-item-title>
                        </v-list-item>

                        <v-list-item to="/Schedules" class="mb-4">
                            <v-list-item-icon>
                                <v-icon>today</v-icon>
                            </v-list-item-icon>

                            <v-list-item-title>
                                Schedules
                            </v-list-item-title>
                        </v-list-item>

                        <v-list-item to="/Workers"  class="mb-4">
                            <v-list-item-icon>
                                <v-icon>groups</v-icon>
                            </v-list-item-icon>

                            <v-list-item-title>
                               Workers
                            </v-list-item-title>
                        </v-list-item>

                        <v-list-item to="/Locations"  class="mb-4">
                            <v-list-item-icon>
                                <v-icon>place</v-icon>
                            </v-list-item-icon>

                            <v-list-item-title>
                                Locations
                            </v-list-item-title>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
        </v-app>
    </div>
</template>

<script>
export default {
    name:"SideNav"
}
</script>

<style scoped>

</style>