<template>
   <div> 
     <v-app>
       <v-row>
         <v-col>
           <v-app-bar color=teal>
             <v-icon large color="white">roofing</v-icon>
             <h2 class="white--text">Clean Up</h2>
             <v-spacer></v-spacer>
             <v-btn text x-large class="white--text text-subtitle-1" to="/" >Logout</v-btn>
           </v-app-bar>

          <div class="mt-12 d-flex justify-center teal--text mb-11 ">
           <h1>Clean Up Board</h1>
          </div>
          <v-container>
            <v-row>

              <v-col cols="6">
                <h3 class="d-flex justify-center teal--text mb-12">Schedule</h3>
                  <v-card width="320"  elevation="4" class="ma-auto mb-5"  >
                    <v-card-title>Eduardo</v-card-title>
                    <v-card-text class="text-subtitle-1">
                         Schedule :<label for="" class="text-subtitle-1 black--text "> 12:00 AM</label><label for=""> - </label><label for="" class="text-subtitle-1 black--text">12:00 AM</label><br>
                         Location : <label for="" class="text-subtitle-1 black--text ">Tacloban</label><br>
                    </v-card-text>
                    <v-card-actions class="mt-1">
                      <v-spacer></v-spacer>
                      <v-btn color="teal" large text class="white--text mr-2">Time In</v-btn>
                    </v-card-actions>
                  </v-card>
              </v-col>

              <v-col>
                <h3 class="d-flex justify-center teal--text mb-12">Time In</h3>
                  <v-card width="320"  elevation="4" class="ma-auto mb-5"  >
                    <v-card-title>Eduardo</v-card-title>
                    <v-card-text class="text-subtitle-1">
                        Schedule :<label for="" class="text-subtitle-1 black--text "> 12:00 AM</label><label for=""> - </label><label for="" class="text-subtitle-1 black--text">12:00 AM</label><br>
                        Location : <label for="" class="text-subtitle-1 black--text ">Tacloban</label><br>
                    </v-card-text>
                    <v-card-actions class="mt-1">
                      <v-spacer></v-spacer>
                      <v-btn color="error" large text class="white--text mr-2">Time Out</v-btn>
                    </v-card-actions>
                  </v-card>
              </v-col>

            </v-row>
          </v-container>
         </v-col>
       </v-row>
     </v-app>
  </div>
</template>

<script>
export default {
    name: 'User',
    
}
</script>