<template>
    <div>
    <v-dialog
      v-model="dialogs"
      persistent
      max-width="380"
    >
      <v-card> 
        <v-card-title class="teal--text text-h6">
          Worker
        </v-card-title>

        <v-card-text>
          <div v-if="changeDialogContent == 'add'" class="mt-6">
            <v-text-field dense label="First Name" color="teal" v-model="addWorker.first_name"></v-text-field>
            <v-text-field dense label="Middle Name" color="teal" v-model="addWorker.middle_name"></v-text-field>
            <v-text-field dense label="Last Name" color="teal" v-model="addWorker.last_name"></v-text-field>
            <v-text-field dense label="Age" color="teal" v-model="addWorker.age" type="number"></v-text-field>
          </div>

          <div v-if="changeDialogContent == 'update'" class="mt-6">
            <v-text-field dense label="First Name" color="teal" v-model="addWorker.first_name"></v-text-field>
            <v-text-field dense label="Middle Name" color="teal" v-model="addWorker.middle_name"></v-text-field>
            <v-text-field dense label="Last Name" color="teal" v-model="addWorker.last_name"></v-text-field>
            <v-text-field dense label="Age" color="teal" v-model="addWorker.age" type="number"></v-text-field>
          </div>
          
          <div v-if="changeDialogContent == 'delete'" class="mt-6"><h4 class="error--text">Are you sure to Delete?</h4></div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            plain
            text
            @click="log"
          >
            Cancel
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'add'"
            color="teal"
            class="white--text"
            text
            @click="log"
          >
            Add
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'update'"
            color="teal"
            class="white--text"
            text
            @click="log"
          >
            Update
          </v-btn>

          <v-btn
            v-if="changeDialogContent == 'delete'"
            color="error"
            class="white--text"
            text
            @click="log"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>


<script>
export default {
    name: 'Modal',
    props:['dialogs','changeDialogContent'],
    data(){
        return{
          addWorker:{
              first_name: "",
              last_name:"",
              middle_name:"",
              age: null
          }
        }
    },
    mounted(){
    },
    computed:{
    },
    methods:{
     log(){
       this.$emit('close')
     }
    }
}
</script>