<template>
    <div>
        <v-app>
          <div class="d-flex">
            <SideNav/>
                <v-row>
                  <v-col>
                  <AppBar/>
                  <Modal :dialogs="dialogs" :changeDialogContent="changeDialogContent" @close="dialogs = false" />
                  <v-container >
                    <v-row> 
                     <v-col><h2 class="teal--text ml-2 mt-12">Workers</h2></v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                             <v-btn rounded color="teal" @click.stop="dialogs=true" @click="modalDialog('add')" class="white--text ml-5"><v-icon class="mr-2">add</v-icon>Worker</v-btn>
                        </v-col>
                    </v-row>

                    <v-row justify="center" class="mt-12">
                        <v-col >
                           <v-simple-table class="ml-5 mr-5">
                                <thead>
                                    <tr>
                                        <th class="teal--text text-center">Name</th>
                                        <th class="teal--text text-center">Age</th>
                                        <th class="teal--text text-center">Status</th>
                                        <th class="teal--text text-center">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="text-center">
                                        <td>Eduardo</td>
                                          <td>Eduardo</td>
                                            <td>Eduardo</td>
                                            <td>
                                                <v-btn icon large color="teal" @click.stop="dialogs=true" @click="modalDialog('update')"><v-icon>update</v-icon></v-btn>
                                                <v-btn icon large color="error" @click.stop="dialogs=true" @click="modalDialog('delete')"><v-icon>delete_outline</v-icon></v-btn>
                                            </td>       
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-row>
                  </v-container>
                  </v-col>
                </v-row>             
          </div>
          </v-app>
    </div>
</template>

<script>
import SideNav from '../components/SideNav.vue'
import AppBar from '../components/AppBar.vue'
import Modal from '../components/WorkersModal.vue'

export default {
    name: 'Workers',
    components:{
        SideNav,
        AppBar,
        Modal
    },
    data(){
        return{
            dialogs:false,
            changeDialogContent: null
        }
    },
    methods:{
        modalDialog(selectedDialog){

            if(selectedDialog == "add")
            {
                this.changeDialogContent = "add"
            }
            if(selectedDialog == "update")
            {
                this.changeDialogContent = "update"
            }

            if(selectedDialog == "delete")
            {
                this.changeDialogContent = 'delete'
            }

        }
    }
}
</script>

<style scoped>

</style>