
body {
	font-family: Agency FB;
}


.nav-item{
margin-left:20px
}

.nav-link {
	font-size: 40px;
	color: #343434;

}

.nav-link:hover {
	color:#B4B4B4;
	border-bottom: 2px solid #343434;
}

.btn{
	margin-left: 10px;
}

.jumbotron {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
	max-width: 100%;
	height: auto;
	border-radius: 0px;
}
.intro p{
	font-family:'Gill Sans';
	font-weight: bold;
	font-size: 45px;
	color: #686A6B;
}

.adj{
	margin-top:35px;
	font-family: MingLiU-ExtB;
	font-size: 50px;
	opacity: 70%;
}

.content{
	padding-top: 80px;
}
.content p{
	font-family:'Gill Sans';
	font-weight: bold;
	font-size: 45px;
	color: #686A6B;
}

#about{
	padding-top: 30px;
	font-size: 80px;
	font-style: bold;
}

#std{
	padding-top: 60px;
	font-size: 60px;
	font-style: bold;
}

#std1{
	margin-left: 85px;
}

#studio{
	color: #47403B;
	font-style: bold;
}

#s1_11{
	width:500px;
	height: auto;
	margin-left: 70px;
}

#ser{
	font-size: 60px;
	font-style: bold;
}

#service{
	color: #47403B;
	padding-top: 100px;
	margin-left: 70px;
}

#s2_11{
	width:500px;
	height: auto;
	margin-top: 80px;
}


#ser1{
	margin-left: 85px;
}

#rowmarg{
	margin-top: 120px;
}

.font-family{
	font-family: Agency FB;
	color: #47403B;
}

textarea{
	width: 800px;
	height: 300px;
	border:2px solid  #4E2908 ;
	background-color:rgba(78, 41, 8, 0.3);
	font-size: 32px;
}

input{
margin-left: 1500px;
}

#btn-adj{
	background-color: #47403B; 
	color:white;
	margin-left: 730px;
}

#footer-adj{
	margin-top: 80px;
}

#p{
	color: #8E6A4E;
}